/.idea/
/openresty-test.iml
/mysql/logs/
/redis/logs/access.log
/redis/logs/error.log
/upload/logs/access.log
/upload/logs/error.log
/upload/html/uploads/images/2022/03/04/
/template/logs/access.log
/template/logs/error.log
/proxy/logs/access.log
/proxy/logs/error.log
